.playa {
	background-image: url(imagen/qp.jpg);
	background-repeat: no-repeat;
	background-position: center;
	
}
.poema {
	color:#000080;
	font-family: 'Lobster', cursive;
	font-size: 18px;
}
body {
	background-image: url(imagen/fondo2.png);
	font-family: 'Courgette', cursive;
}
.boton {
	margin: 20px;
}
.pie {
	margin-top: 40px;
}
.not {
	margin: 20px;
	margin-top: 80px;
}
.col-sm {
	text-align: right;
}
.mision {
	margin-top: 100px;
	padding: 10px;
}
.imagen {
	padding: 40px;
}

