html ._1hl8{height:66px}
._2crw{color:#385898;font-size:13px}._2cs0{line-height:16px}._4u8a{margin-right:4px}
._3kdw{color:#4b4f56}
._5sau{bottom:0;color:#000;margin:10px;position:absolute;right:0}._3nmc,._29pg{color:#4b4f56}._3o9h{color:#fff}._5tzn{float:left}
._39kr{margin-top:-16px}._39ks{margin-left:-6px}
.sp_08dnUyBU35F{background-image:url(/rsrc.php/v3/yZ/r/py53dzp4rV5.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_08dnUyBU35F.sx_4f3d5a{background-position:0 0}.sp_08dnUyBU35F.sx_6cd3c5{background-position:0 -13px}
.sp_r0I1aGJGHMp{background-image:url(/rsrc.php/v3/yB/r/5qHGoCwKmBp.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_r0I1aGJGHMp.sx_bb672c{background-position:0 0}.sp_r0I1aGJGHMp.sx_fb1f56{background-position:0 -17px}.sp_r0I1aGJGHMp.sx_376cfb{width:5px;height:3px;background-position:0 -34px}

#bootloader_8Kzgv{height:42px;}.bootloader_8Kzgv{display:block!important;}